<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
    <title>Hello Electron React!</title>
  </head>
  <style>
    html, body {
      margin: 0;
      font-size: 12px;
    }
  </style>
  <body>
    <div id="root"></div>
  </body>
</html>
